* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #c4c4c4;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    width: 400px;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 30px;
}

form {
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    padding: 10px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    background-color: #cecece;
    border: none;
    border-radius: 5px;
}

form button {
    color: white;
    border: none;
    padding: 12px 10px;
    font-size: 16px;
    background-color: #2A88C8;
    border-radius: 10px;
    margin-bottom: 20px;
}

#linea {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px 0;
font-size: 10px;
align-items: baseline;
}

p {
    font-size: 10px;
    margin-top: 20px;
}
